# Created by https://www.gitignore.io

### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test

#Sublime Text
*.sublime-project
*.sublime-workspace
testdevice

.project

.cproject

golife

sftp-config.json

PECL2/.cache

PECL2/src/work.sc

PECL2/src/backend/test.scala

PECL2/src/actors

PECL3/war

PECL3/src/com/mario_carlos/pecl3/PECL3.gwt.xml

PECL3/gwt-unitCache
*.prefs

*.xml

PECL3/.gwt/.gwt-log

PECL3/.classpath

PECL3/src/log4j.properties
